<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kpttech.mapper.TdepartmentMapper">
  <resultMap id="BaseResultMap" type="com.kpttech.pojo.Tdepartment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="cid" jdbcType="CHAR" property="cid" />
    <result column="cdepartmentname" jdbcType="VARCHAR" property="cdepartmentname" />
    <result column="bdepartmentenable" jdbcType="INTEGER" property="bdepartmentenable" />
    <result column="tdepartmentaddtime" jdbcType="TIMESTAMP" property="tdepartmentaddtime" />
    <result column="tdepartmentupdatetime" jdbcType="TIMESTAMP" property="tdepartmentupdatetime" />
    <result column="mdepartmentremark" jdbcType="VARCHAR" property="mdepartmentremark" />
  </resultMap>
</mapper>