<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 这里的报名要把temp手动去掉 -->
<mapper namespace="com.kpttech.mapper.TuserMapper" >
  <resultMap id="BaseResultMap" type="com.kpttech.pojo.Tuser" >
    <!--
      WARNING - @mbg.generated
    -->
     <id column="cid" property="cid" jdbcType="CHAR" />
    <result column="cusername" property="cusername" jdbcType="VARCHAR" />
    <result column="iuserage" property="iuserage" jdbcType="INTEGER" />
    <result column="busercommunist" property="busercommunist" jdbcType="INTEGER" />
    <result column="fuserscore" property="fuserscore" jdbcType="DECIMAL" />
    <result column="suersex" property="suersex" jdbcType="VARCHAR" />
    <result column="ruserintroduce" property="ruserintroduce" jdbcType="VARCHAR" />
    <result column="duserbirthday" property="duserbirthday" jdbcType="DATE" />
    <result column="buserenable" property="buserenable" jdbcType="INTEGER" />
    <result column="tuseraddtime" property="tuseraddtime" jdbcType="TIMESTAMP" />
    <result column="tuserupdatetime" property="tuserupdatetime" jdbcType="TIMESTAMP" />
    <result column="muserremark" property="muserremark" jdbcType="VARCHAR" />
    <result column="cuserdepartmentid" property="cuserdepartmentid" jdbcType="CHAR" />
    <result column="uuserphoto" property="uuserphoto" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <select id="getUserList" parameterType="com.kpttech.pagepojo.User"   
								resultType="com.kpttech.pagepojo.User">
		SELECT
			a.cusername as cusername,
			a.iuserage as iuserage,
			a.busercommunist as busercommunist,
			a.fuserscore as fuserscore,
			a.suersex as suersex,
			a.ruserintroduce as ruserintroduce,
			a.duserbirthday as duserbirthday,
			a.tuseraddtime as tuseraddtime,
			a.uuserphoto as uuserphoto,
			b.cdepartmentname as cdepartmentname
		FROM
			tuser a left join tdepartment b on(a.cuserdepartmentid=b.cid)
           where 1=1
   
		<if test="cusername !=null and cusername !='' ">
			AND a.cusername Like concat('%',#{cusername},'%')
		</if>
		<if test="orderProperty !=null and orderProperty !='' and orderDir !=null and orderDir !='' ">
			ORDER BY 
				<choose>  
		            <when test="orderProperty == 'cusername'">
		                a.cusername 
		            </when>
		            <when test="orderProperty == 'tuseraddtime'">
		                a.tuseraddtime 
		            </when> 
		            <when test="orderProperty == 'tuserupdatetime'">
		                a.tuserupdatetime
		            </when>
		            <otherwise>
				       a.tuseraddtime 
				    </otherwise>
		        </choose>
		        <choose>
				    <when test="orderDir== 'desc'">
				       desc
				    </when>
				    <otherwise>
				       asc
				    </otherwise>
				</choose> 
		</if>
	</select>
	
</mapper>